* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #9500ff;
  color: white;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: orange;
}

.search input {
  padding: 5px;
  border: none;
}

.search button {
  padding: 5px 10px;
  cursor: pointer;
}
