* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body {
  background-color: #212121;
  color: #fff;
}
#buttons {
  margin-top: 20px;
}

#green {
  width: 200px;
  height: 200px;
  background: green;
  border: 2px solid black;
}
#violet {
  width: 200px;
  height: 200px;
  background: violet;
  border: 2px solid black;
}
#gray {
  width: 200px;
  height: 200px;
  background: gray;
  border: 2px solid black;
}
#orange {
  width: 200px;
  height: 200px;
  background: orange;
  border: 2px solid black;
}
